img[alt=chipseq-overview] { float: right; width: 50%; height:50%; }
img[alt=chipseq-fragments] { float: right;  display: inline-block; width: 40%; height:40%; }
img[alt=regulatory-network] { float: right; width: 40%; height:40%; }
img[alt=motif] { float: right; width:30%;height:30%; }
img[alt=odom-compare] { width:70%; height:70%;}
